{% load static %}
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}" title="">
          MAASDEV
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'index' %}" title="" class="active">Home</a></li>
          <li><a href="{% url 'about' %}" title=""> About</a></li>
          <li><a href="{% url 'listings' %}" title=""> Pricing </a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="{% url 'register' %}" title="register">Register</a></li>
          <li>
            <p>
              <a href="{% url 'login' %}" class="btn btn-primary navbar-btn" title="login">User Login</a>
            </p>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>