<h1>Register</h1>


<form action="#">
    <label for="user">User Name</label>
    <input type="text" name="" id="first name">
    
    <label for="email">Email</label>
    <input type="email" name="" id="email">
    
    <label for="pass">Password</label>
    <input type="password" name="" id="pass">
    
    <label for="phone">Phone</label>
    <input type="text" name="" id="phone">
    <input type="submit" value="Registration">
    <p>If you are already a registered member, please <a href="#">log in here</a></p>
</form>

<style>

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba (0,0,0, .4);
    padding: 50px;
    border-radius: 4px;
}
form label {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    text-transform: capitalize;
}
form input{
    font-size: 18px;
    padding: 7px;
    width: 100%;
    border: 1px solid #fff000;
    color: #fff;
    display: block;
    background: transparent;
}
form input[type="submit"]{
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
}

form p {
    color: #fff;
    font-size: 17px;
}
form p a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}


</style>

